@use 'vars';

.AboutUs {
  text-align: center;

  &_title {
    font-size: vars.$size4;
    margin: vars.$size2 0 vars.$size5;
  }

  &_content {
    width: 50%;
    margin: 0 auto;

    & p {
      font-size: vars.$size3;
      margin: vars.$size4;
      line-height: vars.$size4;

      &:nth-child(2) {
        font-weight: bold;
      }
    }
  }

  &_tribu {
    color: #7a7dc3;
    font-weight: bold;
  }
}
// p:nth-child(2)