@use 'vars';

.AboutUs {
  text-align: center;

  &_title {
    font-size: vars.$size3;
    margin: vars.$size6 auto vars.$size4;
  }
  
  &_first-paragraph {
    margin-bottom: 1rem;
  }

  &_content {
    width: 90%;
    margin: auto;

    & p {
      line-height: vars.$size3;

      &:nth-child(2) {
        font-weight: bold;
      }
    }
  }

  &_tribu {
    color: #7a7dc3;
    font-weight: bold;
  }
}

//*===========================================*//
//*               Media Queries               *//
//*===========================================*//

/* width 800px --> 1199px*/
@media screen and (min-width: 800px) and (max-width: 1199px) {
  .AboutUs {
    &_content {
      max-width: 80%;
    }
}
}

/* width min 1200px */
@media screen and (min-width: 1200px) {
  .AboutUs {
        &_content {
      max-width: 70%;
    }
}
}