@use 'vars';

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Carousel {
  margin: 0 auto;
  overflow: hidden;
  max-width: 900px;

  &_inner {
    white-space: nowrap;
    transition: ease 1s;
  }

  &_item {
    display: inline-block;
    width: 100%;
    height: 500px;
  }

  & img {
    width: 100%;
    height: 300px;
    // background-color: vars.$color7;
    // background-size: cover;
    // background-repeat: no-repeat;
  }
}