@use 'vars';

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: vars.$color7;
  color: #10182f;
  flex-wrap: wrap;
}

.CityInterests {
  // width: 1040px;

  &_card {
    margin: 10px;
    margin-bottom: 0;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;
    height: 500px;
  }

  &_header img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  &_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    min-height: 250px;
  }

  &_category {
    margin-bottom: vars.$size1;
    display: flex;
    flex-wrap: wrap;

    &_tag {
    margin-right: vars.$size1;
    margin-bottom: vars.$size1;
    padding: 0.5em vars.$size1;
    border-radius: .5em;
    color: white;
    font-weight: bold;
    font-size: vars.$size1;
    text-transform: uppercase;
  }
  }

  &_title {
    font-size: vars.$size2;
    font-weight: bold;
    margin-bottom: vars.$size3;
  }

  &_description {
    font-size: vars.$size2;
    margin-bottom: vars.$size1;
    height: vars.$size6;
    overflow: hidden;
    text-overflow: clip;
  }

  &_readmore {
    align-self: center;
    text-decoration: underline;
    font-style: italic;
  }

  &_user {
    display: flex;
    margin-top: vars.$size3;
  }

  &_user-img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

  &_user-info h5 {
    margin: 0;
  }

  &_user-info small {
    color: #545d7a;;
  }
}

.Gastronomie {
  border: 1px solid #FFA64C;
  background-color: #FFA64C;
}

.Culture {
  border: 1px solid #73FBD3;
  background-color: #73FBD3;
}

.Sorties {
  border: 1px solid #FDCFF3;
  background-color: #FDCFF3;
}

.Activités {
  border: 1px solid #9F86C0;
  background-color: #9F86C0;
}

.Evénements {
  border: 1px solid #5C7AFF;
  background-color: #5C7AFF;
}

.Co-Working {
  border: 1px solid #00BBFF;
  background-color: #00BBFF;
}