@use 'vars';

.CityPage {
  position: relative;
  color: #fff;
  max-width: 100%;
 

  // &_img{
  //   display: block;
  //   max-width: 100%;
  //   margin: auto;
  //   clip-path: polygon(0 25%, 100% 25%, 100% 60%, 0 60%);
  // }

  &_content {
    position: absolute;
    width: 100%;
    bottom: 45%;
    padding: 0.2rem;
    text-align: center;
    background: rgba(0,0,0,0.5);
  }

  &_title {
      font-size: vars.$size4;
      font-style: italic;
      font-weight: bold;
      text-transform: uppercase;
    }

  &_description {
    color: vars.$color1;
  }
  }


//* MEDIA QUERIES
//*TODO Augmenter le padding dans content pour afficher la partie grise en plus gros sur widescreen