@use 'vars';

.CityPage {
  color: #fff;
  max-width: 100%;
 
  &_description {
    color: vars.$color1;
  }
  }


//* MEDIA QUERIES
//*TODO Augmenter le padding dans content pour afficher la partie grise en plus gros sur widescreen