@use 'vars';

.CityImage {

  .CityImage_img {
    width: 100%;
    height: 500px;
    background-color: vars.$color7;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  
  &_content {
    top: 60%;
    position: relative;
    width: 100%;
    padding: 2rem;
    text-align: center;
    background: rgba(0,0,0,0.5);
  }

  &_title {
    font-size: vars.$size4;
    font-family: 'Bilingual';
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}
}


//*===========================================*//
//*               Media Queries               *//
//*===========================================*//

/* width 800px --> */
@media screen and (min-width: 800px) {
  .CityImage {
    &_content {
      padding: 3rem;
    }
    &_title {
      font-size: vars.$size5;
  }  
  }
}