@use 'vars';

.Footer {
  height: 10vh;
  background-color: vars.$color5;
  display: flex;
  justify-content: center;
  margin: 0 auto;

  &_NavLink {
  margin: 2rem;
  }

  &--active {
    color: vars.$color1;
    box-shadow: inset -3px 0 0 vars.$color5;
    border-bottom: 1px solid vars.$color1;
  }
}

