@use 'vars';

.Footer {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  background: linear-gradient(180deg, vars.$colorbackground 0%, vars.$colorgreen 100%);
  color: vars.$color2;

  &_links {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    text-align: center;
  }


  &_NavLink {
    margin: 1rem;
    &--active {
      color: vars.$color1;
      font-weight: bold;
      border-bottom: 1px solid vars.$color1;
      padding-bottom: 0.4rem;
    }
  }

  &_love{
    color: vars.$color3;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }
}

//*===========================================*//
//*               Media Queries               *//
//*===========================================*//

/* width 700px --> 999px*/
@media screen and (min-width: 700px) and (max-width: 999px) {
  .Footer {
    padding-top: 1.5rem;
  
    &_NavLink {
    margin: 2rem;
    }
    
    &_links {
      display: flex;
      flex-direction: row;
    }
}
}

/* width 1000px --> 1199px*/
@media screen and (min-width: 1000px) and (max-width: 1199px) {
  .Footer {
    padding-top: 1.5rem;
  
    &_NavLink {
      margin: 3rem;
    }

    &_links {
      display: flex;
      flex-direction: row;
    }
}
}

/* width 1200px --> 1499px*/
@media screen and (min-width: 1200px) and (max-width: 1499px) {
  .Footer {
    padding-top: 2rem;
  
    &_NavLink {
      margin: 5rem;
    }

    &_links {
      display: flex;
      flex-direction: row;
    }
}
}

/* width min 1500px*/
@media screen and (min-width: 1500px) {
  .Footer {
    padding-top: 2.5rem;
  
    &_NavLink {
      margin: 7rem;
    }

    &_links {
      display: flex;
      flex-direction: row;
    }
}
}