@use 'vars';


.header {
  height: 15vh;
  display: flex;
  justify-content: space-between;
  margin-top: vars.$size2;
  color: vars.$color1;

  &-logo {
  
  }

  &-connection-button {
    height: vars.$size4;
    border: 1px solid vars.$color2;
    border-radius: vars.$size2;
    background-color: vars.$color5;
    color: vars.$color1;
  }
}

