@use 'vars';


.header {
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: vars.$size8 vars.$size5 vars.$size8 vars.$size5;
  color: vars.$color1;
  
  &_logo {
    height: vars.$size5;
  }

  &_title {
    font-family: 'Bilingual';
    font-size: vars.$size2;
    font-weight: bold;
    color: vars.$colorpink;
    max-width: 80%;
    text-align: center;
    margin: auto;
    letter-spacing: 0.2rem;
    font-weight: 600;
  }

  &_buttons {
    display: flex;
    flex-direction: column;
    font-size: 0.6rem;
  }

  &_profile-button {
    display: flex;
    align-items: center;
  }

  &_profile-icon {
    margin-right: 0.18rem;
  }

  &_inscription-button {
    all: unset;
    text-decoration: underline;
    padding: vars.$size1;
    text-underline-offset: 3px;
  }

  &_disconnect-button {
    all: unset;
    text-decoration: underline;
    margin: vars.$size1;
    text-underline-offset: 3px;
  }

  &_connexion-button, &_profile-button {
    border: 1px solid vars.$colorpink;
    border-radius: vars.$size4;
    background-color: vars.$colorpink;
    color: vars.$colorwhite;
    font-weight: bold;
    padding: vars.$size1;
    font-size: 0.6rem;
    font-family: 'Nunito';
  }

  &_title {
    width: 100%;
    align-items: center;
  }

  &_icon-button {
    width: 50px;
    height: 50px;
    border: 3px solid vars.$colorwhite;
    background: vars.$colorpink;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    transition: width 0.2s ease-in-out;
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 7;
  }
  &_add-button:hover {
    width: 200px;
    position: fixed;
  }
  &_add-button::before,
  &_add-button::after {
    transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
    content: "";
    position: absolute;
    height: 4px;
    width: 10px;
    top: calc(50% - 2px);
    background: vars.$colorwhite;
  }
  &_add-button::after {
    right: 14px;
  }
  &_add-button::before {
    left: 14px;

  }
  &_icon-button:focus {
    outline: none;
  }
  &_button-text {
    opacity: 0;
    transition: opacity 0.2s;
    color: vars.$colorwhite;
    font-weight: bold;
    font-size: vars.$size2;
  }
  &_add-button:hover::before,
  &_add-button:hover::after {
    width: 4px;
    border-radius: 2px;
  }
  &_add-button:hover &_button-text {
    opacity: 1;
  }
  &_add-icon::after,
  &_add-icon::before {
    transition: all 0.2s ease-in-out;
    content: "";
    position: absolute;
    height: 20px;
    width: 2px;
    top: calc(50% - 10px);
    background: vars.$colorwhite;
    overflow: hidden;
  }
  &_add-icon::before {
    left: 22px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  &_add-icon::after {
    right: 22px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  &_add-button:hover &_add-icon::before {
    left: 15px;
    height: 4px;
    top: calc(50% - 2px);
  }
  &_add-button:hover &_add-icon::after {
    right: 15px;
    height: 4px;
    top: calc(50% - 2px);
  }

}


//*===========================================*//
//*               Media Queries               *//
//*===========================================*//

/* width 1200px --> 1499px*/
@media screen and (min-width: 1200px) and (max-width: 1499px) {
  .header {

  }
}