@use 'vars';


.header {
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:  vars.$size5 vars.$size5 vars.$size6 vars.$size5;
  color: vars.$color1;

  &_logo {
    height: vars.$size8;
  }

  &_buttons {
    display: flex;
    flex-direction: column;
    
  }

  &_inscription-button {
    all: unset;
    text-decoration: underline;
    padding: vars.$size1;
    text-underline-offset: 3px;
  }

  &_disconnect-button {
    all: unset;
    text-decoration: underline;
    margin-top: vars.$size1;
    text-underline-offset: 3px;
  }

  &_connexion-button {
    border: 1px solid vars.$colorpink;
    border-radius: vars.$size4;
    background-color: vars.$colorpink;
    color: white;
    font-weight: bold;
    padding: vars.$size1;
  }

  &_profile-button {
    border: 1px solid vars.$colorpink;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: vars.$colorpink;
    color: white;
    font-weight: bold;
    padding: vars.$size1;
  }

  &_title {
    font-size: vars.$size2;
    max-width: 35%;
  }
}

