@use 'vars';

.Interest {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  box-shadow: 0 15px 30px 1px grey;
  margin: 5em 1em;
  border-radius: 10px;
  overflow: hidden;

  &_image {
    height: 400px;
    padding: 0;

    & img {
      width: 100%;
      height: 400px;
      // object-fit: contain;
    }
  }

  &_description {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    padding: vars.$size3;

    &_title {
      font-size: vars.$size3;
      font-weight: bold;
      margin-bottom: vars.$size2;
    }

    &_content {
      line-height: vars.$size2;
      margin-bottom: vars.$size2;
    }

    &_author {
      color: vars.$color2;
    }

    &_publishingDate {
      color: vars.$color4;
    }
    
    &_category {
      margin-bottom: vars.$size2;

      &_item {
        display: inline-block;
        margin-right: vars.$size1;
      }
    }

    &_date {
      display: flex;
      align-items: center;
      margin-bottom: vars.$size2;
      justify-content: center;
      font-style: italic;

      &_icon {
        margin-right: vars.$size1;
      }
    }
  }
}

@media (min-width: 760px) {
  .Interest {
    flex-direction: row;
    // width: 60%;

    &_image {
      width: 50%;
    }

    &_description {
      width: 50%;

      &_title {
        text-align: center;
        margin-bottom: vars.$size5;
      }

      &_author {
        margin-top: vars.$size4;
      }
    }
  }
}