@use 'vars';

.LegalNotice {
  margin: auto;
  padding: 2rem;

  &_h2 {
    font-size: vars.$size4;
    text-align: center;
  }

  &_ul {
    margin: 1em;
  }
  
  &_li {
    list-style: disc;
    margin-left: 1em;
  }
}

//* MEDIA QUERIES
//TODO Changer la margin max width pour réduire la largeur du texte
