@use 'vars';

.LegalNotice {
  max-width: 100%;
  margin: auto;
  padding: 2rem;

  &_h2{
    size: vars.$size5;
  }

  &_ul {
    margin: 1em;
  }
  
  &_li {
    list-style: disc;
    margin-left: 1em;
  }
}

//* MEDIA QUERIES
//TODO Changer la margin pour réduire la largeur du texte
