@use 'vars';
 
.Login {
  // border: 1px solid vars.$color5;
  height: auto;
  margin: vars.$size5 auto vars.$size7 auto;
  max-width: 90%;
  position: absolute;
  top: 0;
  left: calc(100%/10);
  right: calc(100%/10);
  top: calc(100%/5);
  padding: vars.$size7 vars.$size2 vars.$size2;
  border: 1px solid vars.$color4;
  border-radius: 10px;
  box-shadow: 0px 0px 50px 2px black;
  background-color: vars.$colorwhite;
  z-index: 3;

  &_button {
    width: 30px;
    height: 30px;
    right: vars.$size3;
    border: 1px solid vars.$colorpink;
    border-radius: 20px;
    background: vars.$colorpink;
    color: vars.$colorwhite;
    font-weight: bold;
    font-family: 'Nunito';
    position: absolute;
    top: 10%;
    left: 45%;
  }

  &_title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: vars.$size3;;
    text-align: center;
  }

  &_field{
    margin-top: 1rem;
    border: 1px solid rgb(234, 234, 240);
    border-radius: 5px;
    padding: vars.$size1;
    width: 100%;
    background-color: rgb(234, 234, 240);
    font-family: 'Nunito';
  }

  &_error-message{
    margin-top: 0.2rem;
    color: red;
  }

  &_submit {
    margin-top: 1rem;
    border: 1px solid vars.$colorpink;
    border-radius: 5px;
    padding: vars.$size1;
    width: 100%;
    background-color: vars.$colorpink;
    color: white;
    font-weight: bold;
    letter-spacing: 0.05rem;
    font-size: vars.$size2;
    font-family: 'Nunito';
  }
}

.inscription {
  margin-top: vars.$size2;
  text-align: center;

  &_link {
    all: unset;
    text-decoration: underline;
    margin-left: 0.3rem;
  }
}


//*===========================================*//
//*               Media Queries               *//
//*===========================================*//

/* width 470px --> 799px*/
@media screen and (min-width: 470px) and (max-width: 799px) {
  .Login {
    max-width: 80%;
    padding: vars.$size2;
    
    &_title {
      margin: 1rem;
    }

    &_button {
      top: initial;
      left: initial;
    }
  }
}

/* width 700px --> 999px*/
@media screen and (min-width: 700px) and (max-width: 999px) {
  .Login {
    max-width: 65%;
    padding: vars.$size3;
    
    &_title {
      margin: 1rem;
    }

    &_button {
      top: initial;
      left: initial;
    }
  }
}

/* width 1000px --> 1399px*/
@media screen and (min-width: 1000px) and (max-width: 1399px) {
  .Login {
    max-width: 50%;
    padding: vars.$size3;

    &_title {
      margin: 1rem;
    }

    &_button {
      top: initial;
      left: initial;
    }
  }
}

/* width 1400px */
@media screen and (min-width: 1400px) {
  .Login {
    max-width: 40%;
    padding: vars.$size4;

    &_title {
      margin: 1rem;
    }
    
    &_button {
      top: initial;
      left: initial;
    }
  }
}