@use 'vars';

.MainImage {

  &_img {
    width: 100%;
    height: 500px;
    background-color: vars.$color7;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}