@use 'vars';

.MainImage {
  position: relative;
  margin: 2rem auto;
  color: #fff;
  max-width: 70%;
  

  &-img{
    display: block;
    max-width: 90%;
    height: 50%;
    border-radius: 1rem;
    margin: auto;
  }

  &-content {
    position: absolute;
    width: 90%;
    bottom: 10%;
    padding: 2rem;
    text-align: center;
    background: rgba(0,0,0,0.5);
    margin-left: 5%;
  
  .MainImage-title {
      font-size: vars.$size4;
      font-style: italic;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}