@use 'vars';

.MainImageProfile {
  width: 100%;
  height: 600px;
  background-color: bisque;
  background-image: url('../assets/images/main-image2.jpg');
  background-size: cover;
  background-repeat:no-repeat;
  background-position: 20%;
  margin-bottom: 10rem;

  &_avatar {
    background-color: vars.$colorpink;
    height: 300px;
    width: 300px;
    border-radius: 100%;
    border: 15px solid vars.$colorwhite;
    position: relative;
    top: 70%;
    margin: auto;
  }
}
