@use 'vars';

.NotFound {
  background-image: url(../assets/images/sky.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  width: 100vw;
  height: 100vh;

  &_text {
    color: vars.$colorwhite;
    font-size: vars.$size5;
    text-align: center;
    text-shadow: 1px 0 20px black;
  }
}
.sky {
 position: absolute;
 top:35%;
 right: -500px;
 animation: sky 15s linear 0s infinite reverse;
 z-index: 99;
}
.sky img{
 width: 300px;
}
@keyframes sky {
 from {right:-500px;}
 to {right: 100%;}
}


// .cloud {
//   width: 300px; 
//   height: 100px;

//   background: vars.$colorpink;
//   background: linear-gradient(top, vars.$colorpink 100%);

//   border-radius: 100px;

//   position: absolute;
//   margin:20px auto 20px;
//   z-index:-1;
//   transition: ease 1s;
// }

// .cloud:after, .cloud:before {
//   content: '';
//   position: absolute;
//   background: vars.$colorpink;
//   z-index: -1
// }

// .cloud:after {
//   width: 100px; 
//   height: 100px;
//   top: -50px; 
//   left: 50px;

//   border-radius: 100px;
// }

// .cloud:before {
//   width: 180px; 
//   height: 180px;
//   top: -90px; 
//   right: 40px;
//   border-radius: 200px;
// }

// .x1 {
//   top:350px;
//   transform: scale(0.3);
//   opacity: 0.9;
//   animation: moveclouds 15s linear infinite;
// }

// .x1_5{
//   top:180px;
//   transform: scale(0.3);
//   animation: moveclouds 17s linear infinite;

// }

// .x2 {
//   top:430px;
//   transform: scale(0.6);
//   opacity: 0.6; 
//   animation: moveclouds 25s linear infinite;
// }

// .x3 {
//   top:230px;
//   transform: scale(0.6);
//   opacity: 0.8; 
//   animation: moveclouds 25s linear infinite;

// }

// .x4 {
//   bottom: 220px;
//   transform: scale(0.75);
//   opacity: 0.75;
//   animation: moveclouds 18s linear infinite;
// }

// .x5 {
//   top: 300px;
//   transform: scale(0.5);
//   opacity: 0.8; 
//   animation: moveclouds 20s linear infinite;
// }

// @keyframes moveclouds {
//   0% {margin-left: 1000px;}
//   100% {margin-left: -1000px;}
// }


// .panel {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .x6 {
//   bottom: 200px;
//   transform: scale(0.75);
//   opacity: 0.75;
//   animation: moveclouds 15s linear infinite;
// }

// .xtext {
//   bottom: 20em;
//   transform: scale(0.75);
//   animation: moveclouds 25s linear infinite;
//   font-size: vars.$size5;
//   font-weight: bold;
// }

// .cloud-back {
//   width: 22vw;
// }