@use 'vars';

.UserProfilePage {
  &_card {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: vars.$size4;
    margin-bottom: vars.$size4;
    background-color: vars.$colorgreen;
    border-radius: 20px;

    &-right{
      padding: 1.5rem;
      text-align: center;
    }

    &-img {
      background-color: rgb(101,201,255);
      border-radius: 100%;
      margin-top: 1rem;
      height: 180px;
      }

    &-name {
      font-size: vars.$size4;
      }

    &-presentation{
      font-size: vars.$size2;
      line-height: 1.2rem;
      }

    &-city {
      font-size: vars.$size3;
      color: grey;
      font-style: italic;
      margin-bottom: 1rem;
      line-height: 2.5rem;

    }
  }
  
  &_interests {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;

    &-title {
      color:vars.$color1;
      font-size: vars.$size3;
      text-align: center;
      font-weight: bold;
      margin: vars.$size3 auto vars.$size3;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      padding: vars.$size2;
      width: 90%;
    }

    &-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      background-color: vars.$color7;
    }
  }
}

.NoCityInterests{
  margin: auto;
  
  &_text{
  text-align: center;
  margin: vars.$size4 auto;
  font-size: vars.$size3;
  line-height: vars.$size4;
  }

  &_emptycard{
  background-image: url(../assets/images/no-interest-bg.jpg);
  border-radius: 10px;
  width: 300px;
  height: 500px;
  opacity: 0.5;
  margin: auto;

    &-button{
    border: 1px solid vars.$colorpink;
    border-radius: 100%;
    background-color: vars.$colorpink;
    color: vars.$colorwhite;
    font-weight: bolder;
    font-size: vars.$size7;
    font-family: 'Nunito';
    display: flex;
    align-items: center;
    position: relative;
    top: 40%;
    left: 35%;
    opacity: initial;
    z-index: 3;
    }
  }
}
//*===========================================*//
//*               Media Queries               *//
//*===========================================*//



/* width 600px --> 999px */
@media screen and (min-width: 600px) and (max-width: 999px){
  .UserProfilePage {
    &_card {
      width: 80%;
      flex-direction: row;
      margin-top: vars.$size5;

      &-right{
        text-align: left;
      }
      
      &-img {
      background-color: rgb(101,201,255);
      border-radius: 100%;
      margin: 1rem;
      height: 200px;
      }
    }
    
    &_interests {
      &-title {
        margin: vars.$size5 auto vars.$size5;
        width: 90%;
      }
    }
  }
}


/* width 1000px --> 1599px */
@media screen and (min-width: 1000px) and (max-width: 1599px){
  .UserProfilePage {
    &_card {
      width: 60%;
      flex-direction: row;
      margin-top: vars.$size5;
      
      &-right{
        text-align: left;
      }
      
      &-img {
      background-color: rgb(101,201,255);
      border-radius: 100%;
      margin-left: -6rem;
      margin-top: 0;
      height: 100%;
      }
    }

    &_interests {
      &-title {
        font-size: vars.$size4;
        margin: vars.$size6 auto vars.$size5;
        width: 85%;
      }
    }
  }
}

/* width 1600px  */
@media screen and (min-width: 1600px){
  .UserProfilePage {
    &_card {
      width: 50%;
      flex-direction: row;
      margin-top: vars.$size7;
      
      &-right{
        text-align: left;
      }
      
      &-img {
        background-color: rgb(101,201,255);
        border-radius: 100%;
        margin-left: -7rem;
        margin-top: 0;
        height: 100%;
      }
    }

    &_interests {
      &-title {
        font-size: vars.$size4;
        margin: vars.$size6 auto vars.$size4;
        width: 85%;
      }
    }
  }
}

