// COLORS SHADES from darkest to lightest

$grey1: #3c465000; 
$grey2: #5f6e7800;
$grey3: #8791a000;
$grey4: #b4bec800;
$grey5: #d7e1e600;

// SIZE SCALE from smallest to largest

$size1: 0.75rem; // 12px
$size2: 1rem; // 16px
$size3: 1.5rem; // 24px
$size4: 2rem; // 32px
$size5: 3rem; // 48px
$size6: 4rem; // 64px
$size7: 6rem; // 96px
$size8: 8rem; // 128px