// COLORS SHADES from darkest to lightest

$color1: #343434; 
$color2: #585858;
$color3: #7d7d7d;
$color4: #a7a7a7;
$color5: #cbcbcb;
$color6: #f0f0f0;
$color7: #f7f8fc;
$colorpink: rgb(255,49,87);
$colorwhite: white;

// SIZE SCALE from smallest to largest

$size1: 0.75rem; // 12px
$size2: 1rem; // 16px
$size3: 1.5rem; // 24px
$size4: 2rem; // 32px
$size5: 3rem; // 48px
$size6: 4rem; // 64px
$size7: 6rem; // 96px
$size8: 8rem; // 128px