@use 'reset';
@use 'vars';

@use 'header';
@use 'footer';
@use 'addPOIForm';
@use 'loginForm';
@use 'mainImage';
@use 'newAccountForm';
@use 'userProfilePage';
@use 'cityPage';
@use 'notFound';
@use 'home';
@use 'contacts';
@use 'legalNotice';
@use 'aboutUs';
@use 'interest';
@use 'cityInterests';
@use 'loading';
@use 'mainImageProfile';
@use 'cityImage';
@use 'newInterestForm';
@use 'carousel';

body {
  max-width: 100%;
  height: 100vh;
  background-color: #f7f8fc;
}