@use 'reset';
@use 'vars';

@use 'header';
@use 'footer';
@use 'addPOIForm';
@use 'loginForm';
@use 'mainImage';
@use 'newAccountForm';
@use 'userProfilePage';
@use 'cityPage';
@use 'notFound';
@use 'home';
@use 'contacts';
@use 'legalNotice';
@use 'aboutUs';
@use 'interest';
@use 'cityInterests';
@use 'loading';
@use 'cityImage';
@use 'newInterestForm';
@use 'carousel';
@use 'likeButton';
@use 'participateButton';

@font-face {
  font-family: 'Nunito';
  src: local('Nunito'), url(../fonts/Nunito.ttf) format('truetype');
}

@font-face { 
font-family: 'Bilingual';
src: local('BilingualSerifFont'), url(../fonts/BilingualSerifFont.ttf) format ('truetype');
}


body {
  max-width: 100%;
  height: 100vh;
  background-color: vars.$colorbackground;
  font-family: "Nunito";
  color: vars.$color1;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

